{% extends "admin_dashboard.html" %}

{% block content %}
    <h2 class="mt-4">Registered Users</h2>
    {% if msg %}
        <p>{{ msg }}</p>
    {% else %}
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Full Name</th>
                    <th>Address</th>
                    <th>Pin Code</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.full_name }}</td>
                    <td>{{ user.address }}</td>
                    <td>{{ user.pin_code }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
